<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	  
	   xsi:schemaLocation="
							http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
							http://www.springframework.org/schema/context 
							http://www.springframework.org/schema/context/spring-context-3.0.xsd
							http://www.springframework.org/schema/aop 
							http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
							http://www.springframework.org/schema/tx
     						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	
	
	<!-- 引入其他sping配置文件 -->
	<import resource="beans-dao.xml"/>
	<import resource="beans-service.xml"/>
	<import resource="beans-action.xml"/> 
	
	<!-- Aspctj代理 
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<bean id="templateAspectJ" class="com.template.aspectj.TemplateAspectJ"></bean>
	-->
	
	<!-- sessionFactoy -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    	<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
    </bean>
	
	<!-- hibernateTemplate -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- txManager -->
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	<!-- aop -->
	<aop:config>
		<aop:pointcut id="bussinessService" expression="execution(public * com.template.service.*.*(..))" />
		<aop:advisor pointcut-ref="bussinessService" advice-ref="txAdvice" />
	</aop:config>
	<aop:config>
		<aop:pointcut id="bussinessAnService" expression="execution(public * com.an.service.*.*(..))" />
		<aop:advisor pointcut-ref="bussinessAnService" advice-ref="txAdvice" />
	</aop:config>
	
	<!-- 
		<aop:config>
			<aop:aspect id="tAspect" ref="templateAspectJ">
				<aop:pointcut id="aspectjService" expression="execution(public * com.template.action.*.*(..))"/>
		    	<aop:before pointcut-ref="aspectjService" method="monitor"/>
		  	</aop:aspect>
		</aop:config>
	 -->
	
</beans>
